<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="/css/StyleCss.css">
    <script src="/js/geolocation.js"> </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title> {{title}}</title>
</head>
<body id="FindYourMatchPage">
{{>header}} 
    <div class = transbox>
        <div id="header_homePage"> 
            <Header id="header_FindYourMatch"> {{message}} <br><br> Find Your Match</Header>

        </div>
        <button onclick="sendLocation()" id="findLocBtn" class ="FindMyMatchBtn">show near my location</button>
        <button onclick="window.location.href = '/getBabysitters';"class ="FindMyMatchBtn">Show me all</button>
        </div>

    
</body>
</html>