    <nav class="nav">
        <ol class="nav-list">
            <li class="list-item">
                <a href="/" style="color:darkblue;">Home</a>
                
            <li class="list-item">
                <a href="/about-us"style="color: darkblue;">About Us</a>
            
            <li  class="list-item">
                <a href="/contact-us"style="color: darkblue;">Contact Us</a>
            </li>
        </ol>
    </nav>
 




